name: reviewdog
on:
  push:
    branches:
      - master
  pull_request:

jobs:
 textlint:
    name: runner / textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: reviewdog/action-setup@v1
      - run: npm install
      - name: textlint
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
	 $(npm bin)/textlint content/post/**.md | \
            reviewdog -f=checkstyle -name="textlint" -reporter=github-pr-review
